body {
    background-image:url(https://files.catbox.moe/mq236d.jpg);
}

.main {
    width: 500px;
    background: black;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.mainTable {
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    width: min-content;
    background: black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.alert {
    display: flex;
    justify-content: center;
    background: #3E51A5;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

p {
    color: white;
    font-size: 15px;
    text-align: center;
}

h1 {
    color: #3E51A5:
    font-size: 20px;
}

a {
    color:#3E51A5;
    font-size: 20px;
}

table {
  border-collapse: collapse;
  border: none;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid #190D19;
  padding: 10px 20px;
}

th {
  background-color: #9862CB;
  color: #E1CFD6;
}

td {
    color: #E1CFD6;
    text-align: center;
}

tr:nth-child(even) td {
  background-color: #6D5484;
}

tr:nth-child(odd) td {
  background-color: #553F69;
}

caption {
  padding: 10px;
}
